div#start-button {
	height: 100%;
	width: 350px;	
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	margin-top: -50px;
	text-align: center;
}

div.interface {
	background-image: url('../static/img/background.png');
	background-repeat: repeat-x;
	text-align: center;
}

#interfaceCanvas {
	width:1150px;
	height:550px;
	background-color: #222222;
	position: relative;
	bottom: 85px;
	right: 25px;


}

.centertext {
	text-align: center;
}